:root {
  --Black: hsl(212, 21%, 14%);
  --Grey: hsl(228, 12%, 48%);
  --Cream: hsl(30, 38%, 92%);
  --White: hsl(0, 0%, 100%);
  --Green-500: hsl(158, 36%, 37%);
  --Green-700: hsl(158, 42%, 18%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  background-color: var(--Cream);
  color: var(--Black);
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  background-color: var(--White);
  width: 90%;
  padding: auto;
}

.product-image {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 5px 5px 0 0;
}

.product-info {
  font-size: 0.625rem;
  text-align: justify;
  width: 100%;
  background-color: var(--White);
  padding: 1rem 1rem 2rem 1rem;
}

.product-category {
  font-size: 0.85rem;
  margin-bottom: 0.5rem;
  letter-spacing: 0.3rem;
  font-weight: 500;
}

h1 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  text-align: left;
}

.product-description {
  font-size: 1rem;
  margin-bottom: 2rem;
  text-align: left;
  font-weight: 500;
  word-spacing: 0.188rem;
}

.current-price {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--Green-500);
}

.original-price {
  font-size: 0.8rem;
  text-decoration: line-through;
  color: var(--Grey);
  margin-left: 1rem;
}

button {
  background-color: var(--Green-500);
  color: var(--White);
  border: none;
  width: 100%;
  padding: 0.9rem 1.5rem;
  font-size: 0.8rem;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: var(--Green-700);
}

@media (min-width: 48rem) {
  main {
    display: flex;
    width: 50%;
    border-radius: 10px;
  }

  .product-image {
    width: 100%;
    margin-bottom: 0;
    border-radius: 10px 0 0 10px;
    height: 100%;
  }

  .product-info {
    min-height: auto;
    width: 80%;
    padding: 2rem;
  }

  .product-category {
    font-size: 0.75rem;
    margin-bottom: 2rem;
    letter-spacing: 0.3rem;
    font-weight: 500;
  }

  h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: left;
  }

  .product-description {
    font-size: 1rem;
    margin-bottom: 2rem;
    text-align: justify;
    font-weight: 500;
    word-spacing: 0.2rem;
    line-height: 1.5rem;
  }

  .product-price {
    display: flex;
    align-items: center;
    border-bottom: 1px;
    margin-bottom: 2rem;
  }

  .current-price {
    font-size: 2rem;
    font-weight: 700;
    color: var(--Green-500);
  }

  .original-price {
    font-size: 1rem;
    text-decoration: line-through;
    color: var(--Grey);
    margin-left: 1rem;
  }
}
